/*============================================*/
/*==================HOMEPAGE==================*
/*============================================*/
body{
    background-color: #061F38;
    overflow-x: hidden;
    margin: 0;
}

h2{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

.main-centered{
    position: absolute;
    width: 100%;
    text-align: center;
}

.mid-top{
    top: 50%;
}

.mid-left{
    left:50%;
}

.blur{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

/*====================FIXING==================*/

.page-tracker{
    position: fixed;
    z-index: 100;
    background-color: white;
    height:5px;
    width:100%;
    opacity: 0;
}

.page-tracker,
.title-line span,
.plane-wrapper,
.path-wrapper,
/*.section,
.section-2-content,
.section-3-content,
.section-4-content,*/
.info-box
{
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

/*===============NAV-BAR (MAIN)==============*/

.fixed-over{
    z-index: 100;
    position: fixed;
    top: 5vh;
    left: 5vh;
}

.home img{
    width:200px;
}

.home, .rect{
    position: fixed;
}

.rect{
    right: 5vh;
    background-color: #fff;
}

.inactive-nav{
    right: 5vh;
    width: 70px;
    height: 70px;
}

.upper-rect, .lower-rect{
    width: 50px;
    height: 10px;
}

.left-rect, .right-rect{
    width: 10px;
    height: 30px;
}

.right-rect{
    margin-left:30px;
    margin-top: 10px;
}

.left-rect{
    margin-top: -70px;
    margin-right: 90px;
}


.lower-rect{
    margin-top: -40px;
    margin-right:50px;
}

.scroll-down{
    z-index: 100;
    position: fixed;
    right: 5vh;
    bottom: 5vh;

}

.scroll-down h1{
    color: white;
    font-family: 'Avenir', sans-serif;
    font-size: 20px;
    text-align: center;
}

.scroll-down span{
    display: block;
}


/*===============NAV-BAR (HOMEPAGE)==========*/
.nav {
    z-index:100;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 5vh;
    padding: 0;
}

.nav-box {
    display: block;
    margin: 20px auto;
    width: 3px;
    height: 3px;
    border: 1px solid white;
    background-color: white;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nav-box:hover,
.active {
    background: none;
    cursor: pointer;
    width: 10px;
    height: 10px;
}


.list-style-none {
    list-style: none;
}

/*===================TITLE====================*/

.title-text-wrapper{
    position: fixed;
    pointer-events: none;
    text-align: center;
    width: 100%; 
    opacity: 0;
    z-index: 90;
    margin-top: -110px !important;
}

.title-line{
    pointer-events: none;
    color: #fff;
    font-size: 60px;
    font-family: 'Avenir', sans-serif;
    letter-spacing: 0px;
    text-shadow: 0 0 5px #002040;
}

#line1{
    font-weight: 600;
}

#line2{
    font-size: 20px;
    font-weight: 200;
    margin-top: -40px;
    margin-left:20px;
    letter-spacing: 10px;
}

.title-line span{
    display: inline-block;
    position: relative;
    padding: 0px;
}

.title-text-wrapper h3{
    color: #fff;
}

/*==================BUILDINGS=================*/

.black-square{
    fill: #000;
    stroke: none;
}

.grid-wrapper{
    margin-top: -3000px;
}

#grid{
    margin: 50px auto 0 auto;
    width: 800px;
    height: 550px;
    opacity: 0.5;
    overflow: visible !important;
} 

#grid:hover, .building:hover, .rect{
    cursor: pointer !important;
}

svg.canvas, svg.building{
    overflow: visible;
}
/*=====================PLANE===================*/

.plane-wrapper.sec1{
    position: fixed;
    z-index: 10;
    pointer-events: none;
    margin-left: 2000px;
}

/*=====================PATHS====================*/

.path-wrapper.sec1{
    position: fixed;
    pointer-events: none;
    opacity: 0;
    margin-top: -2050px;
}

.path-wrapper .vert {
    background-color: white;
    width: 1px;
    height: 2000px;
}

#path1{
    left:50vw;
}

#path2{
    margin-left:-200px
}

#path3{
    margin-left:200px
}

/*==================INFO-BOXES====================*/

.info-box{
    z-index: 10;
    position: absolute;
    width:40vw;
    
    margin-top: 100vh;
    margin-left: 10vw;
    padding: 30px;
    transform: translateY(-50%);

    text-align: left;
    font-family: 'Avenir', sans-serif;
    color: white;
}

.box-title{
    font-size: 24px;
}

.box-blurb{
    font-size: 14px;
    margin-bottom: 30px;
}

.info-box a{
    padding: 5px 10px;
    
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;

    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.section-2-content .info-box a{
    color: #D0021B;
    border: 1px solid #D0021B;
}

.section-2-content .info-box a:hover{
    cursor: pointer;
    background-color: #D0021B;
    color: #fff;
}

.section-3-content .info-box a{
    color: #F8C81C;
    border: 1px solid #F8C81C;
}

.section-3-content .info-box a:hover{
    cursor: pointer;
    background-color: #F8C81C;
    color: #333;
}

.section-4-content .info-box a{
    color: #00009F;;
    border: 1px solid #00009F;;
}

.section-4-content .info-box a:hover{
    cursor: pointer;
    background-color: #00009F;
    color: #fff;
}

/*=====================SECTIONS===================*/

.section{
    height: 1000px;
}

#section-1{
    z-index:1;
}

#section-2,
.section-2-background,
.section-3-background,
.section-4-background{
    z-index:2;
    
    width:100vw;
    height:100vh;
    position: fixed;
    top: 0px;

    background-color: #000;
}

.section-2-background{
    opacity: 0;
    top:0;
    background-image: url('../resources/parkingtickets.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

#section-3{
    z-index:3;
    background-color: #061F38;
}

.section-3-background{
    z-index: 3;
    background-image: url('../resources/hexmapprogress.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#section-4{
    z-index:4;
}

.section-4-background{
    z-index: 4;
    background-color: #333;
}

/*============================================*/
/*===============END-HOMEPAGE=================*
/*============================================*/
