body {
	margin: 0px; 
	overflow: hidden; 
	font-family: "Helvetica Neue", Helvetica; 
	font-size: 14px;
	/*background: #0b1b2d;*/
	background: #323339;
}

path {
	stroke-linejoin: round;
}

svg {
	display: block;
	margin: 0 auto;
}

.land {
	fill: #ddd;
}

.hexagons path {
	stroke: #fff;
}

#worldMap {
	height: 450px;
	width: 800px;
}

#worldCanvas {
	display: none;
	height: 450px;	
	width: 800px;
	margin: 0 auto;
}

#hexcontainer {
	position: relative;
	margin: 150px auto;
}
