body {
    font-family: "Helvetica", sans-serif;
}

/* Understand what stroke-dahsarray works */

.line {
    fill: none;
    stroke-width: 2px;
    animation: dash 1s linear forwards;
    z-index: 1;
}

.data-dot {
    stroke-width: 1px;
    r: 3;
    z-index: 1;
}

#visualization {
    padding-top: 300px;
    padding-bottom: 300px;
}

.car {
    z-index: 100;
}

#data-circles {
    z-index: 1;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

div.tooltip {
    position: fixed;
    left: 25px;
    top: 25px;
/*    text-align: center;*/
    width: 400px;
    height: 150px;
    padding: 10px;
    font: 30px Helvetica, sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 1px;
    pointer-events: none;
}

#data {
    background-color: #666;
}

#chartdata {
    z-index: 1;
    x: 0;
}