
body {
	background: #eeeeee;
	background: -webkit-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -moz-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: linear-gradient(top, #eeeeee, #cccccc 100%);
	background-attachment:fixed;
}

.wrapper {
	height: 100%;
	width: 100%;
	text-align:center;
}
/*.wrapper {
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
}*/
h3 {
	text-align: center;
	color: white;
}
div {
	position: fixed;		//Need to find workaround
}
div div {
	position: absolute;		//Need to find workaround
}
