@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../font/AvenirNextLTPro-Regular.otf');
}


html {
	font-family: 'Avenir Next LT Pro', sans-serif;
}

#map {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.hexbin-hexagon {
	stroke-width: 1px;
}

#map-init {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(50, 52, 50, .90);
  overflow: scroll;
	color: #ffffff;
}



.header {
	font-size: 24px;
	color: #ffffff;
	text-transform: uppercase;
}

.leaflet-top {
	margin-top: 20px;
}

h1 {
	font-size: 24px;
}

.info-panel {
	background: rgba(208, 2, 27, .85);
	color: #ffffff;
	padding: 25px;
	min-width: 300px;
	z-index: 100;
}


.container {
	width: 33.5%;
	margin: 10% 7.5%;
	padding-left: 15px;
	background: #D0021b;
	z-index: 100;
}

.wrapper {
	margin: 5%;
	padding: 15px 10px;
}

.btn-close {
	color: #ffffff;
	background-color: #D0021b;
	border-radius: 0;
	border: 1px solid #ffffff;
	box-shadow: 0;
	font-size: 1em;
	padding: 1em 3em;
	margin-bottom: 2em;
	text-transform: uppercase;
}

.btn-close:hover {
	background-color: #ffffff;
	color: #d0021b;
	cursor: pointer;
}

.info {
	font-size: 14px;
	width: 90%;
	margin-bottom: 1em;
}

.sub {
	color: #8f8f8f;
	font-size: 11px;
	position: fixed;
	z-index: 99999;
	left: 100px;
	bottom: 0;
}

.sub a {
	color: #8f8f8f;
}


@media (max-width: 1024px) {
	.container {
		width: 90%;
		margin: 15% 5%;
		padding: 0;
		z-index: 100;
	}

	.info {
		width: 100%;
	}

	.leaflet-bar {
		display: none;
	}

	.sub {
		display: none;
	}

	.wrapper {
		margin: 5%;
		padding: 15px 5px;
	}

}

@media (max-width: 700px) {
	.leaflet-top {
		margin: 0;
		width: 100%;
	}

	.leaflet-right .leaflet-control {
		margin: 0;
		width: 100%;
	}
}

.leaflet-bar{
	background-color: rgba(208, 2, 27, .85);
	color: #ffffff;
	border: 0;
	border-radius: 0;
}

.leaflet-bar a {
	color: #ffffff;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
	color: #ffffff;
}

.violation {
	text-transform: capitalize;
}
