body {
    font-family: "Helvetica", sans-serif;
}


/*===============NAV-BAR (MAIN)==============*/

.fixed-over{
    z-index: 100;
    position: fixed;
    top: 5vh;
    left: 5vh;
}

.gradient-top{
    position: fixed;
    width:100vw;
    height:150px;
    top: 0;
    left:0;
    background: rgba(0,0,0,0); 
    background: -webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0)); 
    background: -o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0)); 
    background: -moz-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0)); 
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0)); 
}

.home img{
    width:200px;
}

.home, .rect{
    position: fixed;
}

.rect{
    right: 5vh;
    background-color: #fff;
    margin-right: -15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main-nav{
    position: fixed;
    right: 5vh;
    width:55px;
    height:50px;
    margin-right:-10px;
    margin-top: -15px;

    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.main-nav:hover{
    cursor: pointer;
    width: 450px;
}

.main-nav:hover .active-nav .rect{
    transform: perspective(500px) translateX(-400px);
}

.inactive-nav{
    right: 5vh;
    width: 70px;
    height: 70px;
}

.upper-rect, .lower-rect{
    width: 40px;
    height: 8px;
}

.left-rect, .right-rect{
    width: 8px;
    height: 40px;
}

.right-rect{
    margin-left:30px;
    margin-top: 8px;
}

.left-rect{
    margin-top: -70px;
    margin-right: 37px;
}

.lower-rect{
    margin-top: -30px;
    margin-right:5px;
}

.nav-text-wrapper{
    position: fixed;
    top: 5vh;
    opacity: 0;
    height: 20px;
    overflow: hidden;
    width:0px;
    margin-top: -4px;
    margin-left: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main-nav:hover .nav-text-wrapper{
    opacity: 1;
    width: 360px;
}

.nav-text-wrapper li{
    color: white;
    font-family: 'Avenir', sans-serif;
    display: inline-block;
    margin: 0px 25px;
    letter-spacing: 2px;
}

.nav-text-wrapper li:first-child{
    margin-left:15px;
}

.nav-text-wrapper li:hover{
    margin-bottom: 10px;
    cursor: pointer;
}

/*===========================================*/

/* Understand what stroke-dahsarray works */


#info-overlay {
    position: fixed;
    top: 80px;
    left: 5vh;
    width: 250px;
    height: 80px;
    border-radius: 3px;
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    padding: 15px;
    font-size: 16px;
}

.line {
    fill: none;
    stroke-width: 2px;
    animation: dash 1s linear forwards;
    z-index: 1;
}

.data-dot {
    stroke-width: 1px;
    z-index: 1;
    r: 5;
}

#visualization {
    padding-top: 150px;
/*    padding-bottom: 150px;*/
}

.car {
    z-index: 100;
}

#data-circles {
    z-index: 1;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

/*
div.tooltip {
    position: fixed;
    left: 25px;
    top: 25px;
    text-align: center;
    width: 400px;
    height: 150px;
    padding: 10px;
    font: 30px Helvetica, sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 1px;
    pointer-events: none;
}
*/

#data {
    background-color: #666;
}

#chartdata {
    z-index: 1;
}